@import 'normalize/normalize';
@import '../bower_components/breakpoint-sass/stylesheets/breakpoint';
@import '../bower_components/susy/sass/susy';
@import 'tools/mixins';

$susy: (
    columns: 12,
    // container: 1140px,
    gutters: 1/4,
    global-box-sizing: border-box,
    // debug: (image: show-columns)
);


	@font-face {
		font-family: 'LiebeDoris';
		font-weight: normal;
		font-style: normal;
		src: url("../fonts/liebe_doris-webfont.eot");
	    src: url("../fonts/liebe_doris-webfont.eot?#iefix") format("embedded-opentype"),
	         url("../fonts/liebe_doris-webfont.woff") format("woff"),
	         url("../fonts/liebe_doris-webfont.ttf")  format("truetype"),
	         url("../fonts/liebe_doris-webfont.svg#svgFontName") format("svg");
	}
	@font-face {
		font-family: 'LiebeDoris';
		font-weight: normal;
		font-style: italic;
		src: url("../fonts/liebe_doris_italic-webfont.eot");
	    src: url("../fonts/liebe_doris_italic-webfont.eot?#iefix") format("embedded-opentype"),
	         url("../fonts/liebe_doris_italic-webfont.woff") format("woff"),
	         url("../fonts/liebe_doris_italic-webfont.ttf")  format("truetype"),
	         url("../fonts/liebe_doris_italic-webfont.svg#svgFontName") format("svg");
	}
	@font-face {
		font-family: 'LiebeDoris';
		font-weight: bold;
		font-style: normal;
		src: url("../fonts/liebe_doris_bold-webfont.eot");
	    src: url("../fonts/liebe_doris_bold-webfont.eot?#iefix") format("embedded-opentype"),
	         url("../fonts/liebe_doris_bold-webfont.woff") format("woff"),
	         url("../fonts/liebe_doris_bold-webfont.ttf")  format("truetype"),
	         url("../fonts/liebe_doris_bold-webfont.svg#svgFontName") format("svg");
	}
	@font-face {
		font-family: 'LiebeDoris';
		font-weight: bold;
		font-style: italic;
		src: url("../fonts/liebe_doris_bold_italic-webfont.eot");
	    src: url("../fonts/liebe_doris_bold_italic-webfont.eot?#iefix") format("embedded-opentype"),
	         url("../fonts/liebe_doris_bold_italic-webfont.woff") format("woff"),
	         url("../fonts/liebe_doris_bold_italic-webfont.ttf")  format("truetype"),
	         url("../fonts/liebe_doris_bold_italic-webfont.svg#svgFontName") format("svg");
	}
body {
	font-family: 'LiebeDoris';
	font-weight: normal;
	font-style: normal;
}
header {
	// display: none;
	background-color: #f0eeea;
	padding: 4vh 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 9999;
	font-style: normal;
	font-weight: bold;
	@include breakpoint(45em) {
		// padding: 4vh 0;
	}
}
.container {
    @include container(12);
    padding-left:gutter();
    padding-right:gutter();
}
.title {
    text-align:center;
    margin: 0;
    // margin-bottom: 1em;
    line-height: 1;
    // @include span(3 of 12);
    // font-size: calc(2vw + 2vh + 2vmin);
    font-size: 2em;
    @include breakpoint(45em) {
		font-size: 4em;
		// margin-bottom: 0.25em;
	}
}
nav {
	position: relative;
	@include span(12);
	// @include span(8 of 12);
	// @include push(2);
	@include breakpoint(30em) {
		@include span(8 of 12);
		// left: 25%;
		@include push(2);
	}
	// @include breakpoint(50em) {
		// @include span(6 of 12);
		// left: 25%;
		// @include push(3);
	// }
	@include breakpoint(75em) {
		@include span(4 of 12);
		// left: 25%;
		@include push(4);
	}

	ul {
		@include clearfix()
		margin: 0;
		padding: 0;
		list-style-type: none;
		background-color: #ff00ff;
		position: relative;
		// height: 100%;
		li {
			// height: 100px;
			@include span(2 of 6);
			&:last-child {
				@include span(2 of 6 last);
			}
			display: inline-block;
			position: relative;
			// top:25%;
			// padding: 10px 0;
			// max-height: 100%;
			svg {
				box-sizing: border-box;
				display: block;
				position: relative;
				padding: 10px 0;
				// max-height: 100%;
				max-height: 5em;
				// position: absolute;
				// top: 0;
				// left: 0;
				// max-height: 100%;
				.cls-1 {
					transition: fill .1s ease-in;
				}
				a:hover .cls-1 {
					fill:#ffc842;

				}
				text {
					text-anchor: middle;
				}
			}
		}
	}
}

.main-container {
	margin-top: 10em;

	@include breakpoint(30em) {
		margin-top: 12em;
	}
	@include breakpoint(75em) {
		// margin-top: ;
	}
}
section.main-body {
	margin: 0 auto;
	text-align: center;
}
.liquor-item {
	// padding-top: 50%;
	background-color: red;
	// position: relative;
	// display: inline-block;
	// max-width: 200px;
	// height: 100%;
	// min-width: 100%;
	// max-height:100%;
	// width: 50%;
	// width:100%;
	// width:
	// height:gutter();
	// overflow: hidden;
	// overflow-y: hidden;
	// height: auto;
	// @include gallery(4 of 12);
	// min-width: span(4 of 12);
	// @include breakpoint(30em) {
		// @include gallery(3 of 12);
		// min-width: span(3 of 12);
	// }
	// @include breakpoint(50em) {
		// @include gallery(2 of 12);
		// min-width: span(2 of 12);
	// }
	// @include breakpoint(75em) {
		// @include gallery(1 of 12);
		// min-width: span(1 of 12);
	// }
	@include clearfix()
	&:after {
		// padding-top: 50%;
	}
	// iframe {
		// position: absolute;
		// max-width: 100%;
		// max-height: 100%;
		// top: 0;
		// left: 0;
	// }
	// @include breakpoint(40em,
	// padding: 0;
	// box-sizing: content-box;
	// width: auto;
	// height: 100vh;
	// display: inline-block;
	// text-align: center;
	// @include span(3 of 12);
	// &:nth-child(4n) {
	// 	@include span(3 of 12 last);
	// }
	// text-align: center;
}